@import "./reset.css";



/* ---------------------------------------------------- */

/*                                                      */

/* ---------------------------------------------------- */



:root {

    --app-dark-bg: #1a1d28;

    --app-light-bg: #f0f2f4;

    --app-red: #ff3c57;

    --app-green: #33ab4e;

    --app-purple: #833cff;

    --app-orange: #ff833c;

    --app-blue: #3c57ff;

    --app-blue-hover: #364ee6;

    --app-footer-height: 112px;
}



body {

    background-color: var(--app-light-bg);

}
.container {

    width: min(100% - 30px, 1080px);

    margin-inline: auto;

}


/* ---------------------------------------------------- */

/* Footer                                               */

/* ---------------------------------------------------- */

footer {

    height: var(--app-footer-height);

    background-color: #c9d3dd;

}


