@import "./reset.css";



/* ---------------------------------------------------- */

/*                                                      */

/* ---------------------------------------------------- */

:root {

    --app-dark-bg: #1a1d28;

    --app-light-bg: #f0f2f4;

    --app-red: #ff3c57;

    --app-green: #33ab4e;

    --app-purple: #833cff;

    --app-orange: #ff833c;

    --app-blue: #3950e2;

    --app-blue-hover: #3549c9;

    --app-footer-height: 112px;
}

* {
    transition: font-size 0.2s;
}
.container {

    width: min(100% - 30px, 1080px);

    margin-inline: auto;

}



/* ---------------------------------------------------- */

/* Hero and header                                      */

/* ---------------------------------------------------- */

.hero{
    height: 100vh;
    background: rgb(255, 0, 0)url(../img/Hero-image.jpg) center center / cover ;
}

.hero-overlay {
    height: 100vh;
    background: rgb(20 24 28 / .75);
    width: 100%;
}

.flexbox {
    display: flex;
}


/* Header                                               */

/* ---------------------------------------------------- */


header {
    height: 56px;
    background-color: rgb(255, 60, 87, .6);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Title */
.title {
    width: 40%;
    height: 40px;
}

.title h1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.title h1 a {
    text-decoration: none;
    color: #fff;
}

/* Navigation */
nav {
    width: 60%;
    text-align: right;
}

.new {
    display: none;
    justify-content: right;
}
.new ul {
    justify-content: right;
    height: 56px;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 19px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline var(--app-red);
}

nav ul li + li {
    margin-left: 18px;
}


.fanavicon {
    font-size: 22px;
    display: flex;
}

/* ---------------------------------------------------- */

/* Banner                                               */

/* ---------------------------------------------------- */

/* Text and Button */
.text-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    height: 100vh;
    width: 100%;
}

/* Text */
.landing-text {
    width: 50%;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.landing-text h2 {
    color: #fff;
    transition: font-size 0.2s;
}

/* Button */
.about-btn {
    background-color:var(--app-blue);
	border-radius: 40px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    width: 150px;
    height: 45px;
    display: grid;
    place-items: center;
	text-decoration:none;
    transition: background-color .25s ease-in-out;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 30px;
}

.about-btn:hover{
    background-color: var(--app-blue-hover);
}


/* ---------------------------------------------------- */

/* About                                                */

/* ---------------------------------------------------- */
.about {
    flex-grow: 1;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.about-row  {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.about-field {
    flex-grow: 1;
    text-align: center;
    width: calc(25%);
    height: 200px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 0.1);
}

.about-field h2 {
    font-size: 28px;
}

.about-field h3 {
    font-size: 20px;
    font-weight: 400;
}

.support{
    margin-top: 15px;
}

.support a {
    text-decoration: none;
    color: #fff;
}

.support-btn {
    border-radius: 40px;
    cursor:pointer;
    color:#ffffff;
    padding: 10px 20px;
    font-size: 15px;
    transition: background-color .25s ease-in-out;
    text-shadow:0px 1px 0px #2f6627;
    background-color: var(--app-red);
}

.support-btn:hover{
    background-color: #f20c2b;
}



h2, h3 span {
    text-decoration: underline var(--app-red);
    font-weight: 600;
}

@media (max-width: 768px) {
  .one .two {
      width: calc(50% - 10px);
    }

  .three {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .about-field {
      width: 100%;
  }

  .three {
      width: 100%;
  }
}




/* ---------------------------------------------------- */

/* Products                                             */

/* ---------------------------------------------------- */

.inventory h1{
  padding: 5vh;
  text-align: center;
  font-size: 32px;
}
.products{
  box-sizing: border-box;
}
img{
  object-fit: fill;
}
.product-showcase {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.products{
  padding-bottom: 5vh;
}
.product { 
  display: none;
}
.prev, .next {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.product-desc {
  background-color: rgba(0,0,0,0.5);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.product-tracker {
  background-color: rgba(0,0,0,0.8);
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.active, .dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




/* ---------------------------------------------------- */

/* Resposive Design                                     */

/* ---------------------------------------------------- */

@media (max-width: 830px) {
    footer p, footer {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .landing-text{
        width: 90%;
    }
    .landing-text h2 {
        font-size: 26px;
    }
}
@media (max-width: 636px) {
    .landing-text{
        width: 80%;
    }
    .landing-text h2 {
        font-size: 24px;
    }
}
@media (max-width: 512px) {
    .title h1 {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 17px;
    }
}
@media (max-width: 455px) {
    .landing-text{
        width: 70%;
    }
    .landing-text h2 {
        font-size: 22px;
    }
    .og {
        display: none;
    }
    .new {
        display: inline-block;
    }
}

@media (max-width: 380px) {
    .title {
        width: 50%;
    }

    nav {
        width: 50%;
    }
}
