@import "./reset.css";



/* ---------------------------------------------------- */

/*                                                      */

/* ---------------------------------------------------- */

:root {

    --app-dark-bg: #1a1d28;

    --app-light-bg: #f0f2f4;

    --app-red: #ff3c57;

    --app-green: #33ab4e;

    --app-purple: #833cff;

    --app-orange: #ff833c;

    --app-blue: #3c57ff;

    --app-blue-hover: #364ee6;

    --app-footer-height: 112px;
}


.container {

    width: min(100% - 30px, 1080px);

    margin-inline: auto;

}

<<<<<<< HEAD
.hero{
    height: 100vh;
    background: rgb(255, 0, 0)url(../img/Hero-image.jpg) center center / cover ;
}

.hero-overlay {
    height: 100vh;
    background: rgb(20 24 28 / .75);
    width: 100%;
}


/* ---------------------------------------------------- */

/* Header                                               */

/* ---------------------------------------------------- */

=======
>>>>>>> daBoss02-footer

header {
    height: 56px;
    background-color: rgb(255, 60, 87, .6);
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 40px;
}

.title h1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.title h1 a {
    text-decoration: none;
    color: #fff;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 19px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline #add8e6;
}

nav ul li + li {
    margin-left: 18px;
}

<<<<<<< HEAD
.text-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    height: 100vh;
    width: 100%;
}
.landing-text {
    width: 50%;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

.landing-text h2 {
    color: #fff;
}

button {
    background-color:var(--app-blue);
	border-radius: 40px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    padding: 13px 35px;
    text-align: center;
	text-decoration:none;
    transition: all .5s ease-in-out;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 12px;
}

button:hover{
    background-color: var(--app-blue-hover);
}
=======
>>>>>>> daBoss02-footer

/* ---------------------------------------------------- */

/* Footer                                               */

/* ---------------------------------------------------- */

footer {
    height: var(--app-footer-height);
    background-color: #c9d3dd;
    align-items: center; 
}

.footer p {
    line-height: 40px;
    color: #1a1d28;
}
.footer p:hover {
    text-decoration: underline;
}

.footer a {
    text-decoration: none;
}

.footer .icon {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    margin: 0px 10px 0px 20px;
    background-color: #1a1d2818;
    border: 1px solid #1a1d2827;
    border-radius: 50%;
    color: #1a1d28bd;
}
.footer .icon:hover {
    background-color: #1a1d2820;
}
